.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darksalmon;
  color: white;
  height: 10vh;
  z-index: 1;
  &__logo {
    font-size: 4em;
    &__container {
      display: flex;
      align-items: center;
    }
  }
  &__links {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin: 0 2rem;
  }
}
